.user-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  width: 100px;
  height: 48px;
  background: #1F1D2B;
  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  outline: none;
}

