.sidebar {
 
  justify-content: center;
  background-color: #1F1D2B;
  border-radius: 0 16px 16px 0;
  padding: 24px 0 0px 12px;
}

.sidebar-logo {
  padding: 11px 11px 13px 11px;
  margin-left: 3px;
  margin-bottom: 16px;
}

.logo-icon {
  background: #EB966A;
  border-radius: 12px;
  background: rgba(235, 150, 106, 0.26);
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 11px 11px 13px 11px;
  width: 31px;
  height: 31px;
}